<!-- Toolbar -->
<mat-toolbar color="primary" *ngIf="shouldShowHeader">
  <button mat-button *ngIf="showHomeButton" [disabled]="currentPage === 'home'" (click)="goToHome()">Home</button>
  <button mat-button *ngIf="showOrdersButton" [disabled]="currentPage === 'ordersHistory'"
    (click)="goToOrders()">Histórico de Ordens</button>
  <span class="spacer"></span>
  <span>Seja bem-vindo(a) ao Our Shop App, {{ username }}</span>
  <button mat-button (click)="toggleTheme()">Alterar Tema</button>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<router-outlet></router-outlet>