// File: app.component.scss
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.left-items,
.right-items {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

// .light-theme {
//   background-color: yellow;
// }

// .dark-theme {
//   background-color: green;
// }