/* File: src/app/home/home.component.scss */
.outer-container {
  background-color: var(--background);
  min-height: 100vh;
}

.container {
  max-width: 1280px;
  margin: auto;
  padding: 1rem;
  background: var(--background);
}

.alert {
  color: var(--tertiary);
  padding: 1rem;
  margin-bottom: 2rem;
}

.custom-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.column-container {
  padding: 1rem;
}

.card {
  border: 1px solid var(--primary);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  background: var(--card-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

.product-image-container {
  height: 260px;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.product-image-container:hover .product-image {
  transform: scale(1.1);
}

.product-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--headline);
  margin: 0.1rem 0;
}

.product-price {
  color: var(--accent);
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 0.1rem;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 0 5px;
  height: 5rem;
  margin: 0.5rem 0;
}

.quantity-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 50px;
}

.btn.quantity-button {
  padding: 0.3rem 0.5rem;
  background-color: var(--buttonBackground);
  border: none;
  color: var(--buttonText);
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.5rem;
  min-width: 45px;
  font-weight: bold;
}

.quantity-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.quantity-input {
  width: 35px;
  height: 25px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  -moz-appearance: textfield;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fixed-cart-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 130px;
  background-color: var(--buttonBackground);
  border: 1px solid var(--buttonBorder);
  border-radius: 50px;
  color: var(--buttonText);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.fixed-cart-button:hover {
  transform: scale(1.03);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}