/* File: src/app/orders-history/orders-history.component.scss */

.order-history-page {
  width: 100%;
  height: 100vh;
  background: var(--background);
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.error-message {
  color: var(--tertiary);
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.order-history-content {
  width: 80%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.cashback {
  position: absolute;
  top: 2rem; // Espaçamento em relação ao topo da div pai
  right: 2rem; // Espaçamento em relação à direita da div pai
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cashback-label {
  font-size: 1.2rem;
  color: var(--headline);
}

.cashback-value {
  font-size: 1.2rem;
  color: var(--extra);
  font-weight: bold;
}

.order-history-title {
  font-size: 2rem;
  color: var(--headline);
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
}

.orders-container {
  border: 1px solid var(--primary);
  width: 100%;
  border-radius: 10px;
  padding: 2rem;
  background: var(--card-background);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.order-table {
  width: 100%;
}

.order-table th,
.order-table td {
  padding: 1rem;
  text-align: center;
  color: var(--headline);
}

.order-table th {
  font-size: 1rem;
  font-weight: bold;
}

.order-table mat-header-cell,
.order-table mat-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-table mat-header-cell {
  background-color: var(--header-background);
  color: var(--header-text);
}