/* File: src/app/checkout/checkout.component.scss */
.checkout-content {
  // border: 1px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout-title,
.pickup-title {
  width: 100%;
  text-align: flex-start;
  width: 80%;
}

.order-section {
  border: 1px solid black;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.order-table {
  width: 100%;
}

.order-table th {
  padding: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.order-table td {
  text-align: center;
  padding: 5px;
}

.totals-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.total {
  display: flex;
  margin-right: 65px;
}

.cashback {
  display: flex;
  gap: 8px;
  margin-right: 8px;
}

.pickup-section {
  border: 1px solid black;
  width: 80%;
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.pickup-options-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.pickup-option-item {
  padding: 5px;
}

.pickup-option {
  text-align: left;
  width: 70%;
  margin: auto;
}

.finalize-order-button {
  display: block;
  margin: 20px auto;
  text-align: right;
}

.return-home-button {
  align-self: flex-start;
  margin: 20px;
}

.error-message {
  color: red;
}