// File: src/styles.scss
/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '@mdi/font/css/materialdesignicons.min.css';
@import '../node_modules/ngx-toastr/toastr.css';
@import './styles/themes.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
}